[submodule "keyboardio/Arduino-Boards"]
	path = keyboardio/Arduino-Boards
	url = https://github.com/keyboardio/Arduino-Boards.git
[submodule "keyboardio/Kaleidoscope"]
	path = keyboardio/Kaleidoscope
	url = https://github.com/keyboardio/Kaleidoscope.git
